<div class="header">
	<h2>Our remarkable networks</h2>
	<div style="clear:both"></div>
</div>

<div class="body">
	<table class="networks">
	<% @networks.each do |network| %>
	  <tr>
			<td class="title">
				<strong><%= link_to (network.name ? network.name : ""), network_path(:id => network.id) %> </strong> <br /> <%= (network.description ? network.description : "")%>


				<% if current_user %>
					<% if current_user.member?(network) %>
						<%= link_to 'Unjoin', unjoin_path(:network_id => network.id, :user_id => current_user.id) %> 	
					<% else %>
						<%= link_to 'Join', join_path(:network_id => network.id, :user_id => current_user.id) %>
					<% end %>
				<% end %>
			</td>
	    <td class="links">
					<%= link_to 'Members', members_networks_path(:id => network.id) %>  - 
					<%= link_to 'Edit', edit_network_path(network) %> - 
					<%= link_to 'Destroy', network, :confirm => 'Are you sure?', :method => :delete %>
			</td>
	  </tr>
	<% end %>
	</table>
</div>

<div class="footer">
	&nbsp;
</div>