<div class="header">
	&nbsp;
</div>

<div class="body">
	<div class="text">
		<h2>Welcome to Something Remarkable!</h2>
		<p>We hope to help you build a social network around sharing things you find remarkable. 
			These networks could be as well defined as your family or co-workers or as broadly defined as the industry you're a part of or interests you pursue.</p>

		<p>Something Remarkable draws its inspiration from <%= link_to 'Hacker News', "http://news.ycombindator.com" %> and the greater bread of social news-aggregators (<%= link_to 'Digg', "http://Digg.com" %>, <%= link_to 'Reddit', 'http://Reddit.com' %>, <%= link_to 'Twitter', 'http://Twitter.com' %>).To see what we've built so far, take a look at some of our <%= link_to 'dummy networks.', networks_networks_path %> If you like / hate the idea or want to get involved, email Jason.Laster.11 at gmail dot com. </p>

	</div>
</div>

<div class="footer">
	&nbsp;
</div>


