<div class="header">
	<h2><%= @network.name %></h2> 
	<ul class="links">
		
		<% if current_user  %>
			
			<% if current_user.member?(@network) %>
		
				<li><%= link_to 'new article', new_network_article_path(@network) %></li>
			
			<% if current_user.admin?(@network) %>
				<li><%= link_to 'Admins Page', admin_networks_path(:id => @network.id) %></li>
			<% end %>
			
			<% else %>
				<%= link_to 'Join', join_path(:network_id => @network.id, :user_id => current_user.id) %>
			<% end %>
			
		<% end %>
	</ul>
	<div style="clear:both"></div>
</div>

<p>
</p>



<div class="body">
	<div id="articles">
	<% @articles.each do |article| %>
		<div class="article">
			<span class="title"> <%= link_to article.title, article.url %> </span>
			<span class="source">(<%= article.source %>)</span> <br />
			
			<span class="second-line like"><%= link_to 'like', '#'%> &nbsp; </span> 
			<span class="second-line points"> <%= article.total_likes %> points &nbsp; </span>
			<span class="second-line poster">by <%= article.poster %> &nbsp; </span> 
			<span class="second-line date"> <%= time_ago_in_words(article.created_at)%> ago &nbsp;</span>
			<span class="second-line comments"> <%= link_to article.total_comments.to_s + " comments", network_article_path(@network, article) %>  &nbsp;</span>
			
		</div>
	<% end %>
	</div>
</div>

<div class="footer">
	<%= link_to '&larr; back to networks', all_networks_networks_path %>
</div>