<div class="header">
	<h2>New article</h2>
</div>

<div class="body">

	<% form_for [@network, @article] do |f| %>
	  <%= f.error_messages %>
	
		<p>
			<%= f.label :title %> <br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :url %> <br />
			<%= f.text_field :url %>
		</p>
		<p>
			<%= f.label :source %> <br />
			<%= f.text_field :source %>
		</p>
		<p>
			<%= f.label :description %> <br />
			<%= f.text_area :description %>
		</p>
	
		<p>
	    <%= f.submit 'Create' %>
	  </p>

	<% end %>

</div>

<div class="footer">
</div>